.mydesign{
	color :red;
	text-align:center;
	text-decoration:underline;
	font-size:Georgia,'Times of New Roman';
	font-style:italic;
	
}
.Firstdesign{
	
	color :blue;
	text-align:center;
	text-decoration:underline;
	font-size:Georgia,'Times of New Roman';
	font-style:italic;
}

.Seconddesign{
	color :pink;
	text-align:center;
	text-decoration:underline;
	font-size:Georgia,'Times of New Roman';
	font-style:italic;
	
}

.Thirddesign{
	color :yellow;
	text-align:center;
	text-decoration:underline;
	font-size:Georgia,'Times of New Roman';
	font-style:italic;
	
}